/** CSS STYLE **/

.hello {
  display: block;

  color: #fff;
}

* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --translucent_white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --main_dark: #42413c;
  --dark: #2a2626;
  --translucent_dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;

  --margin_botton_top: 100px;
}

@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-VariableFont_wdth\,wght.ttf");
  font-weight: normal;
  line-height: 1.6em;
}

@font-face {
  font-family: "Neucha";
  src: url("../font/Neucha-Regular.ttf");
  font-weight: normal;
  line-height: 1.6em;
}

body {
  width: 1440px;
  display: block;
  margin: 0 auto;
  height: 100%;
  color: var(--dark);
  font-family: "OpenSans", sans-serif;

}

.flex {
  display: flex;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

.title {
  color: var(--primary);
}

p {
  font-size: 16px;
  line-height: 1.6em;
}

.main__container,
.header__container,
.footer__container {
  width: 1110px;
  margin: auto;
}

.m__p100px {
  padding-top: var(--margin_botton_top);
  padding-bottom: var(--margin_botton_top);
}

.card__content {
  margin: 0;
  padding: 0;
  list-style: none;
}

.column {
  column-count: 2;
  column-gap: 30px;
}

.font-neucha {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
}

.font-open-sans {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
}

/*header*/

.header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--light);
}

.header::before {
  position: absolute;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  content: "";
  opacity: 0.1;
}


.header__hat {
  position: relative;
}

.hat__content__title {
  position: relative;
  width: 100%;
  z-index: 3;
  margin-bottom: 198px;
}

.hat__img {
  position: absolute;
  top: -40px;
  right: -165px;
  height: 525px;
  z-index: 1;
}

.header__hat__info {
  font-size: 16px;
  line-height: 26px;
}

/* .info {} */

.info__text {
  margin-top: 0;
  margin-bottom: 0;
  break-inside: avoid;
}

.info__btn {
  font-size: 16px;
  line-height: 160%;
  padding: 12px 24px;
  background-color: var(--primary);
  border: none;
  margin-top: 30px;
}

.btn-link {
  color: var(--white);
  text-decoration: none;
}

/* main*/

.main__definition {
  margin-bottom: -95px;
}

.def {
  text-align: center;
}

.def__title {
  margin-bottom: 30px;
}

.def__desc {
  margin-bottom: 30px;
}

.def__video {
  margin-bottom: -100px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.main__card {
  background-color: var(--main_dark);
  padding-top: 200px;
}

.card__content {
  list-style-type: none;
}

/*nav*/

.main__card {
  padding-bottom: var(--margin_botton_top);
}

.card {
  display: flex;
}

.individ__title {
  font-size: 52px;
  line-height: 120%;
  color: var(--white);
}

.list {
  flex-wrap: wrap;
}

.list__link {
  position: relative;
  max-width: 350px;
  min-height: 348px;
  padding: 24px;
  margin-right: 30px;
  margin-top: 20px;
  background-color: var(--white);
}

.list__link:nth-child(3n) {
  margin-right: 0;

}

.list__link:nth-child(-n+3) {
  margin-top: 0;
  min-height: 323px;
}

.list__link__desc {
  margin-bottom: 0;
}

.individ {
  padding: 0;
  background-color: transparent;
}

.list__link__number {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1;
  color: var(--main_dark);
}

.list__link__title {
  color: var(--primary);
}

.link-id::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.link__title {
  margin-bottom: 12px;
}

/*секция 1*/


.main__section__one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--light);
}

.main__section__two {
  background-color: var(--brown);

}

.color {
  color: var(--white);
}

.main__section__three {
  background-color: var(--light);
}

.main__section__four {
  background-color: var(--brown);
}

.main__section__five {
  background-color: var(--light);
}



.ikea__blog {
  position: relative;
}

/*глабальные классы*/

/* .column__desc {} */

.column__img {
  vertical-align: middle;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.column__desc {
  margin-left: 30px;
}

.column__desc-short {
  font-size: 34px;
  line-height: 41px;
  color: var(--dark);
}


.column__sign {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 29px;
  color: var(--translucent_dark);
}

.column__title {
  font-size: 60px;
  line-height: 72px;
  color: var(--dark);
}

.info__title {
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  padding: 5px 0;
  padding-left: 10px;
  color: var(--white);
  background-color: var(--brown);
}

.info__content,
.optim__blog,
.novelty__blog,
.deprec__blog,
.planning__blog {
  margin-bottom: 100px;
}



.column__text {
  margin-top: 0;
}




.section__before::before {
  position: absolute;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
}




.column__width {
  color: var(--white);
}

.column__color {
  color: var(--translucent_white);
}

.column__background {
  background-color: var(--white);
  color: var(--brown);
}

.column__marggin {
  margin-left: 0;
}


/* SECTION-FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__input {
  background-color: var(--main_dark);
  column-count: 2;
  padding: 55px 55px 55px 55px;
}

.column__left {
  font-family: "Neucha";
  color: var(--white);
}

.column__title-input {
  margin: 0px;
}

.column__right {}

.column__right-email {
  font-family: "Open Sans";
  color: var(--white);
  font-size: 18px;
  margin-bottom: 0px;
}

.link {
  font-family: "Open Sans";
  color: var(--white);
  font-size: 12px;
  margin-top: 0px;
}

.column__right-button {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.email {
  border: none;
  width: 425px;
  height: 48px;
  padding-left: 15px;

}

.email::-webkit-input-placeholder {
  font-family: "Open Sans";
  opacity: 0.2;
}

.footer-button {
  border: none;
  width: 70px;
  height: 50px;
  background-color: var(--primary);
  border: none;
  background-image: url(https://raw.githubusercontent.com/hexlet-components/projects-css-l1-cognitive-biases/78cf2c1aa4757071fdaa945bbd6b72adb59fc38b/images/send.svg);
  background-repeat: no-repeat;
  background-position: center;
}



.link__article {
  color: var(--blue);
}

.column__more {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
}


.column-footer-3 {
  color: var(--blue);
}

.link-text {
  color: var(--blue);
}